
div.amr-container {
    font-family: "Cambria Math", sans-serif;
    font-size: 14px;
}

.amr-node {
    color : black;
}

.amr-frame {
    color : purple;
    text-decoration: underline;
}

.amr-entity {
    color : black;
    font-style: italic ;
}

.amr-edge {
    color : grey;
}
